latitude: 0.0
longitude: 0.0
elevation: 0

mqtt_broker: "PLACEHOLDER"
mqtt_user: "PLACEHOLDER"
mqtt_password: "PLACEHOLDER"

cam_ingresso_rtsp: "rtsp://PLACEHOLDER"
cam_giardino_rtsp: "rtsp://PLACEHOLDER"

# Codici microchip degli animali (15 cifre, prefisso 380 per l'Italia)
chip_animale_1: "380000000000000"
chip_animale_2: "380000000000000"
